header h3{
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    
    border-bottom: cadetblue;
    padding-bottom: 20px;

}

body{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}

div div figure{
    font-style: italic;
    float: left;
    width: 30%;
    padding-left: 3%;
}



/* #row3 {
    padding-bottom: 50px;
} */