header h3{
    text-transform: uppercase;
    padding: 50px;
    text-align: center;

}

body{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

figure{
    font-style: italic;
}
/* div{
    margin-bottom: 40px;
    float: left;
} */

div div{
float: left;
}
#row3 {
    padding-bottom: 50px;
}