nav{
    background-color: rgb(247, 247, 239);
    margin-bottom: 50px;
    padding: 15px;
}

body{
    background-color: rgb(173, 148, 140);
    border: 20px;
    margin: 10px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h3{
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    
    border-bottom: cadetblue;
    padding-bottom: 20px;

}
nav a:hover{
    background-color: rgb(183, 184, 179);
}



img{
    

    width: 30%;
    margin: 1.6%;
    float: left;

}


.first{
clear: left;
}




/* #row3 {
    padding-bottom: 50px;
} */