table tr td{
    /* border-width: 2px; */
    border-color: black;
    border-style: solid;
    border-left: none;
    border-top: none;

}
table{
    width: 500px;
    height: 500px;
}
#r3 td{
    border-bottom: none;
}
.c3{
    border-right: none;
    width: 150px;
}

div{
    margin-left: 400px;
    margin-top: 70px;
}
