body{
    background-color: rgb(173, 148, 140);
    border: 20px;
    margin: 10px;
    background-image: url("a.jpg");
}
nav{
    background-color: rgb(247, 247, 239);
    margin-bottom: 50px;
    padding: 25px;
    
}
nav a:hover{
    background-color: rgb(194, 185, 185);
}
header{
    background-color: rgb(119, 90, 90);
    position: relative;
    top: 20px;
}
#left{
    float: left;
}
#right{
    float: right;
}