body{
    background-color: rgb(173, 148, 140);
    border: 20px;
    margin: 10px;
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* index */
#index{
    padding-left: 300px;
    padding-top: 300px;
}
#ind{
    background-color: wheat;
}
/*  */
nav{
display: flex;
align-items: left;
justify-content: space-around;
background-color: rgb(247, 247, 239);
padding: 20px;
}

.rt{
    align-self: flex-end;
    margin: 7px;
}
.lt{
    align-self: flex-start;
    margin: 7px;
}
#first
{
    margin-left: 150px;
}
#last
{
    margin-right: 150px;
}
nav a:hover{
    background-color: rgb(183, 184, 179);
}




header{
    /* background-color: rgb(119, 90, 90); */
    position: relative;
    top: 20px;
}
#left{
    float: left;
}
#right{
    float: right;
}